@font-face {
    font-family: 'CrimsonText SemiBold';
    src: url('../font/CrimsonText-SemiBold.ttf');
}

@font-face {
    font-family: 'CrimsonText';
    src: url('../font/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../font/Montserrat-Bold.ttf');
}

:root {
    --light-values-white: #ffffff;
    --foto-ava-width-height: 280px;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Smartphones (вертикальная и горизонтальная ориентация) */

    html {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    body {
        width: 100%;
        justify-content: flex-start;
        align-items: stretch;

        font-family: "CrimsonText", "Montserrat Bold", "Roboto light", "Helvetica Neue", sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-rendering: optimizelegibility;
        text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;

        background-color: rgb(229, 228, 234);
        flex: 1 0 0;
        padding: 0;
        margin-top: 5px;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .global-container {
        width: 100%;
    }

    .header-container {
        display: flex;
        position: relative;
        flex-direction: column;
        padding: 10px 5px 0;
        background: rgb(37, 46, 62);
        z-index: 2;
        border: none;

        font-family: "Montserrat Bold";
        text-align: center;
        text-transform: uppercase;
    }

    .header-name-short {
        margin-bottom: 10px;
        padding: 0;

        font-weight: 600;
        font-size: 23px;
        line-height: normal;
        letter-spacing: 8px;
        color: rgb(175, 150, 97);
    }

    .header-name-full {
        padding: 0;
        margin-bottom: 12px;

        font-size: 42px;
        color: var(--light-values-white);
        line-height: 1;
        letter-spacing: 10.52px;
    }

    .header-prof {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    .header-prof-text {
        color: rgb(175, 150, 97);

        letter-spacing: 3.27px;
        font-size: 16.36px;
        align-self: center;
        justify-content: center;
        word-wrap: break-word;
    }

    .header-contacts-row {
        padding: 10px 0 5px;
        display: flex;
        flex-direction: column;
    }

    .header-contacts {
        display: flex;
        justify-content: flex-start;
        padding: 5px 10px 5px;
        -webkit-box-flex: 1;
        flex-grow: 1;
        /*flex-basis: 50%;*/
        flex-direction: row;

        text-transform: none;
    }

    .header-contacts:nth-last-of-type(1) {
        border-right: none;
    }

    .header-contacts-img {
        padding-left: 16px;
        margin-bottom: 18px;
        margin-top: auto;
        -webkit-box-align: center;
        display: flex;
    }

    .header-contacts-text {
        padding-left: 16px;
        padding-right: 26px;
        font-family: CrimsonText;
        text-align: left;
        color: rgb(210, 210, 210);
        word-break: break-all;
        font-size: 17.53px;
    }

    /*Стили для HEADER - ОКОНЧАНИЕ*/

    main {
        display: flex;
        flex-direction: column;
    }

    /*Стили для SIDEBAR - НАЧАЛО*/
    .sidebar-column {
        width: 100%;
        background-color: rgb(239, 239, 240);
        z-index: 1;
        display: flex;
        flex-direction: row;
    }

    .sidebar-container {
        padding: 44.1814px 38.6587px 44.1814px 44.1814px;
    }

    .sidebar-foto {
        width: 100%;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .foto-ava {
        width: calc(var(--foto-ava-width-height));
        height: calc(var(--foto-ava-width-height));
        border-radius: 50%;
    }

    .ul-unordered {
        font-family: CrimsonText;
        color: rgb(119, 120, 123);
        font-size: 18px;
        line-height: 1.43;
    }

    .ul-unordered li::marker {
        color: rgb(175, 150, 97);
        font-size: 1.3em;
    }

    .skillbar {
        width: 100%; /* Full width */
        background-color: #ddd; /* Grey background */
        font-size: 18px;
    }

    .skills {
        text-align: right; /* Right-align text */
        padding-top: 1px; /* Add top padding */
        padding-bottom: 1px; /* Add bottom padding */
        color: white; /* White text color */
    }

    .python {
        width: 60%;
        background-color: rgb(175, 150, 97);
    }

    .django {
        width: 50%;
        background-color: rgb(175, 150, 97);
    }

    .celery {
        width: 30%;
        background-color: rgb(175, 150, 97);
    }

    .drf {
        width: 50%;
        background-color: rgb(175, 150, 97);
    }

    .restapi {
        width: 40%;
        background-color: rgb(175, 150, 97);
    }

    .html {
        width: 60%;
        background-color: rgb(175, 150, 97);
    }

    .javascript {
        width: 60%;
        background-color: rgb(175, 150, 97);
    }

    .css {
        width: 90%;
        background-color: rgb(175, 150, 97);
    }

    .react {
        width: 5%;
        background-color: rgb(175, 150, 97);
    }

    .vue {
        width: 5%;
        background-color: rgb(175, 150, 97);
    }

    .linux {
        width: 10%;
        background-color: rgb(175, 150, 97);
    }

    .docker {
        width: 10%;
        background-color: rgb(175, 150, 97);
    }

    .english {
        width: 33%;
        background-color: rgb(175, 150, 97);
    }


    .sidebar-title {
        font-family: "CrimsonText SemiBold";
        color: rgb(51, 49, 50);
        font-size: 18px;
        line-height: 1.43;
        letter-spacing: 0.47px;
        margin-bottom: 0px;
    }

    .sidebar-text {
        display: block;
        font-family: CrimsonText;
        color: rgb(119, 120, 123);
        font-size: 18px;
        line-height: 1.43;
    }

    /*Стили для SIDEBAR - ОКОНЧАНИЕ*/

    /*Стили для SECTION - НАЧАЛО*/
    .main-column {
        display: table-cell;
        /*padding: 46.7506px 28.0504px;*/
        padding: 5px;
        direction: ltr;
        background-color: #FFFFFF;
    }


    .about-element {
        display: block;
        margin-bottom: 0;
        padding-top: 10px;
        margin: 0 10px 0;
        padding-bottom: 23px;
        text-align: justify;

    }

    .block-info {
        margin-bottom: 0;
        /*padding-top: 22.0907px;*/
        /*padding-bottom: 22.0907px;*/
        padding-top: 5.0907px;
        padding-bottom: 5.0907px;
    }

    .block-info-group {
        padding-top: 16.22px;
    }

    .block-info-group-el {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .block-info-title {
        font-family: "Montserrat Bold";
        font-weight: 600;
        font-size: 18px;
        color: rgb(51, 62, 80);
        text-transform: uppercase;
        padding-top: 15.194px;
        padding-bottom: 14.0252px;
        border-bottom: 1px solid rgb(51, 62, 80);
        border-top: 1px solid rgb(51, 62, 80);
        text-align: left;
        letter-spacing: 3.5063px;
        break-inside: avoid-page;
    }

    .button-info-title {
        width: 100%;
        background-color: #FFFFFF;
        cursor: pointer;
        font-family: "Montserrat Bold";
        font-weight: 600;
        font-size: 18.7003px;
        color: rgb(51, 62, 80);
        padding-top: 15.194px;
        padding-bottom: 14.0252px;
        border: none;
        border-bottom: 1px solid rgb(51, 62, 80);
        border-top: 1px solid rgb(51, 62, 80);
        text-align: left;
        letter-spacing: 3.5063px;
        break-inside: avoid-page;

    }

    .button-info-title:active {
        background-color: rgb(229, 228, 234);
    }

    .button-info-title:hover {
        background-color: rgb(229, 228, 234);
    }

    .button-info-title:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    .block-info-content {
        display: none;
        overflow: hidden;
        /*display: flex;*/
        flex-direction: row;
        padding-top: 29.22px;
        padding-bottom: 29.22px;
    }

    .block-info-content-left {
        width: 30%;
        padding-right: 20px;
    }

    .where-work-learn {
        font-family: "CrimsonText SemiBold";
        line-height: 1.43;
        letter-spacing: normal;
        color: rgb(51, 49, 50);
        font-size: 16.36px;
    }

    .when-work-learn {
        color: rgb(175, 150, 97);
        font-family: "CrimsonText SemiBold";
        font-size: 15.19px;
        line-height: normal;
        letter-spacing: normal;
    }

    .geo-work-learn {
        font-family: "CrimsonText SemiBold";
        font-size: 15.19px;
        line-height: normal;
        letter-spacing: normal;
        color: rgb(175, 150, 97);
    }

    .block-info-content-right {
        width: 70%;
        padding-left: 14.03px;
        padding-right: 0;
        position: relative;
    }

    .block-info-content-right::before {
        content: "";
        position: absolute;
        top: 13.2544px;
        bottom: -20.6134px;
        width: 1.10453px;
        background-color: rgb(188, 190, 192);
        left: 0;
    }

    .block-info-content-right::after {
        content: "";
        position: absolute;
        top: 5.52267px;
        height: 9.94081px;
        width: 9.94081px;
        border-radius: 50%;
        background-color: rgb(188, 190, 192);
        left: -4.41814px;
    }

    .job-title {
        font-family: "CrimsonText SemiBold";
        font-size: 16.36px;
        line-height: 1.43;
        letter-spacing: 1.64px;
        padding: 0;
        margin-bottom: 4.67506px;
        border: none;
        text-align: left;
        font-weight: 600;
        color: rgb(51, 62, 80);
        text-transform: uppercase;
    }

    .job-description {
        text-decoration: none;
        display: inline;
        font-family: CrimsonText;
        font-size: 18px;
        line-height: 1.43;
        color: rgb(119, 120, 123);
        position: relative;
        margin: 0;
        padding: 0;
    }

    .video-container {
        padding-right: 10px;
    }

    .video-container video {
        width: 100%;
    }

    /*Стили для SECTION - ОКОНЧАНИЕ*/
    /*Стили для FOOTER - НАЧАЛО*/
    .footer-container {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 300px;
        padding: 20px 35px 0;
        background: rgb(37, 46, 62);
        z-index: 2;
        border: none;

        font-family: "Montserrat Bold";

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-contacts-title {
        /*margin: 0 29.22px;*/
        font-family: "Montserrat Bold";
        color: rgb(175, 150, 97);
        letter-spacing: 3.27px;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: left;

        display: flex;
        flex-direction: column;
    }


    .footer-contacts-text {
        font-family: CrimsonText;
        text-align: justify;
        color: rgb(210, 210, 210);
        word-break: break-all;
        font-size: 16px;
    }


    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
        font-size: 16px;
    }

    .grid-link-container {
        display: grid;
        grid-template-columns: repeat(2, 175px);
    }

    .skill-link {
        justify-self: left;
        font-family: CrimsonText;
        color: rgb(210, 210, 210);
        text-decoration: none;
    }

    .skill-link:hover {
        color: rgb(175, 150, 97);
    }

    /*Стили для FOOTER - ОКОНЧАНИЕ*/
}

/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/
/*__________________________________________________________________*/

@media only screen  and (min-width: 490px) {
    /* стили для ноутбуков и настольных ПК*/
    html {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        /*align-items: center;*/
    }

    body {
        justify-content: flex-start;
        align-items: stretch;
        /*align-items: center;*/

        font-family: "CrimsonText", "Montserrat Bold", "Roboto light", "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.38;
        letter-spacing: normal;
        text-rendering: optimizelegibility;
        text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;

        background-color: rgb(229, 228, 234);
        /*height: calc(100vh - 70px);*/
        flex: 1 0 0;
        padding: 20px 0;
        overflow-y: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .global-container {
        width: 950px;
    }


    /*Стили для HEADER - НАЧАЛО*/
    .header-container {
        display: flex;
        position: relative;
        flex-direction: column;
        height: 350px;
        padding: 46.75px 46.75px 0;
        background: rgb(37, 46, 62);
        z-index: 2;
        border: none;

        font-family: "Montserrat Bold";
        text-align: center;
        text-transform: uppercase;
    }


    .header-name-short {
        margin-bottom: 30.40px;
        padding: 0;

        font-weight: 600;
        font-size: 23.40px;
        line-height: normal;
        letter-spacing: 8px;
        color: rgb(175, 150, 97);
    }

    .header-name-full {
        padding: 0;
        margin-bottom: 19.87px;

        font-size: 52.60px;
        color: var(--light-values-white);
        line-height: 1;
        letter-spacing: 10.52px;
    }

    .header-prof {
        display: flex;
        flex-direction: row;
    }

    .header-prof-line {
        -webkit-box-flex: 1;
        flex-grow: 1;
        height: 1.17px;
        margin-top: 9.35px;
        background-color: rgb(175, 150, 97);
    }

    .header-prof-text {
        margin: 0 29.22px;
        color: rgb(175, 150, 97);

        letter-spacing: 3.27px;
        font-size: 16.36px;
        align-self: center;
        justify-content: center;
    }

    .header-contacts-row {
        padding: 20px 0 5px;
        display: flex;
        flex-direction: row;
    }

    .header-contacts {
        display: flex;
        border-right: 1px solid rgb(146, 146, 146);
        padding: 0 35.06px 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-basis: 50%;
        flex-direction: column;

        text-transform: none;
    }

    .header-contacts:nth-last-of-type(1) {
        border-right: none;
    }

    .header-contacts-img {
        top: 0;
        margin-bottom: 8.18px;
        margin-top: auto;
        -webkit-box-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .header-contacts-text {
        font-family: CrimsonText;
        text-align: center;
        color: rgb(210, 210, 210);
        word-break: break-all;
        margin-bottom: auto;
        font-size: 17.53px;
    }

    /*Стили для HEADER - ОКОНЧАНИЕ*/
    main {
        display: flex;
    }

    /*Стили для SIDEBAR - НАЧАЛО*/
    .sidebar-column {
        width: 35%;
        min-height: 910px;
        background-color: rgb(239, 239, 240);
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .sidebar-container {
        padding: 44.1814px 38.6587px 44.1814px 44.1814px;
    }

    .sidebar-foto {
        display: flex;
        padding-bottom: 30px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .foto-ava {
        width: calc(var(--foto-ava-width-height));
        height: calc(var(--foto-ava-width-height));
        border-radius: 50%;
    }

    .ul-unordered {
        font-family: CrimsonText;
        color: rgb(119, 120, 123);
        font-size: 18px;
        line-height: 1.43;
    }

    .ul-unordered li::marker {
        color: rgb(175, 150, 97);
        font-size: 1.3em;
    }

    .skillbar {
        width: 100%; /* Full width */
        background-color: #ddd; /* Grey background */
        font-size: 18px;
    }

    .skills {
        text-align: right; /* Right-align text */
        padding-top: 1px; /* Add top padding */
        padding-bottom: 1px; /* Add bottom padding */
        color: white; /* White text color */
    }

    .python {
        width: 60%;
        background-color: rgb(175, 150, 97);
    }

    .django {
        width: 50%;
        background-color: rgb(175, 150, 97);
    }

    .celery {
        width: 30%;
        background-color: rgb(175, 150, 97);
    }

    .drf {
        width: 50%;
        background-color: rgb(175, 150, 97);
    }

    .restapi {
        width: 40%;
        background-color: rgb(175, 150, 97);
    }

    .html {
        width: 60%;
        background-color: rgb(175, 150, 97);
    }

    .javascript {
        width: 60%;
        background-color: rgb(175, 150, 97);
    }

    .css {
        width: 90%;
        background-color: rgb(175, 150, 97);
    }

    .react {
        width: 5%;
        background-color: rgb(175, 150, 97);
    }

    .vue {
        width: 5%;
        background-color: rgb(175, 150, 97);
    }

    .linux {
        width: 10%;
        background-color: rgb(175, 150, 97);
    }

    .docker {
        width: 10%;
        background-color: rgb(175, 150, 97);
    }

    .english {
        width: 33%;
        background-color: rgb(175, 150, 97);
    }


    .sidebar-title {
        font-family: "CrimsonText SemiBold";
        color: rgb(51, 49, 50);
        font-size: 18px;
        line-height: 1.43;
        letter-spacing: 0.47px;
        margin-bottom: 0px;
    }

    .sidebar-text {
        display: block;
        font-family: CrimsonText;
        color: rgb(119, 120, 123);
        font-size: 18px;
        line-height: 1.43;
    }

    /*Стили для SIDEBAR - ОКОНЧАНИЕ*/

    /*Стили для SECTION - НАЧАЛО*/
    .main-column {
        display: table-cell;
        width: 65%;
        padding: 46.7506px 28.0504px;
        direction: ltr;
        background-color: #FFFFFF;
    }


    .about-element {
        display: block;
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 20px;
        text-align: justify;
    }

    .block-info {
        margin-bottom: 0;
        padding-top: 22.0907px;
        padding-bottom: 22.0907px;
        padding-top: 5.0907px;
        padding-bottom: 5.0907px;
    }

    .block-info-group {
        padding-top: 16.22px;
    }

    .block-info-group-el {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .block-info-title {
        font-family: "Montserrat Bold";
        font-weight: 600;
        font-size: 18.7003px;
        color: rgb(51, 62, 80);
        text-transform: uppercase;
        padding-top: 15.194px;
        padding-bottom: 14.0252px;
        border-bottom: 1px solid rgb(51, 62, 80);
        border-top: 1px solid rgb(51, 62, 80);
        text-align: left;
        letter-spacing: 3.5063px;
        break-inside: avoid-page;
    }

    .button-info-title {
        width: 100%;
        background-color: #FFFFFF;
        cursor: pointer;
        font-family: "Montserrat Bold";
        font-weight: 600;
        font-size: 18.7003px;
        color: rgb(51, 62, 80);
        padding-top: 15.194px;
        padding-bottom: 14.0252px;
        border: none;
        border-bottom: 1px solid rgb(51, 62, 80);
        border-top: 1px solid rgb(51, 62, 80);
        text-align: left;
        letter-spacing: 3.5063px;
        break-inside: avoid-page;

    }

    .button-info-title:active {
        background-color: rgb(229, 228, 234);
    }

    .button-info-title:hover {
        background-color: rgb(229, 228, 234);
    }

    .button-info-title:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: white;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
    }

    .block-info-content {
        display: none;
        overflow: hidden;
        /*display: flex;*/
        flex-direction: row;
        padding-top: 29.22px;
        padding-bottom: 29.22px;
    }

    .block-info-content-left {
        width: 30%;
        padding-right: 21.04px;
    }

    .where-work-learn {
        font-family: "CrimsonText SemiBold";
        line-height: 1.43;
        letter-spacing: normal;
        color: rgb(51, 49, 50);
        font-size: 18px;
    }

    .when-work-learn {
        color: rgb(175, 150, 97);
        font-family: "CrimsonText SemiBold";
        font-size: 18px;
        line-height: normal;
        letter-spacing: normal;
    }

    .geo-work-learn {
        font-family: "CrimsonText SemiBold";
        font-size: 18px;
        line-height: normal;
        letter-spacing: normal;
        color: rgb(175, 150, 97);
    }

    .block-info-content-right {
        width: 70%;
        padding-left: 14.03px;
        padding-right: 0;
        position: relative;
    }

    .block-info-content-right::before {
        content: "";
        position: absolute;
        top: 13.2544px;
        bottom: -20.6134px;
        width: 1.10453px;
        background-color: rgb(188, 190, 192);
        left: 0;
    }

    .block-info-content-right::after {
        content: "";
        position: absolute;
        top: 5.52267px;
        height: 9.94081px;
        width: 9.94081px;
        border-radius: 50%;
        background-color: rgb(188, 190, 192);
        left: -4.41814px;
    }

    .job-title {
        font-family: "CrimsonText SemiBold";
        font-size: 20px;
        line-height: 1.43;
        letter-spacing: 1.64px;
        padding: 0;
        margin-bottom: 4.67506px;
        border: none;
        text-align: left;
        font-weight: 600;
        color: rgb(51, 62, 80);
        text-transform: uppercase;
    }

    .job-description {
        text-decoration: none;
        display: inline;
        font-family: CrimsonText;
        font-size: 20px;
        line-height: 1.43;
        color: rgb(119, 120, 123);
        position: relative;
        margin: 0;
        padding: 0;
    }

    .video-container video {
        width: 100%;
    }

    .video-container-2 iframe {
        width: 560px;
        height: 315px;
    }

    /*Стили для SECTION - ОКОНЧАНИЕ*/

    /*Стили для FOOTER - НАЧАЛО*/
    .footer-container {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 180px;
        padding: 16.75px 46.75px 0;
        background: rgb(37, 46, 62);
        z-index: 2;
        border: none;

        font-family: "Montserrat Bold";
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-contacts-title {
        margin: 0 29.22px;
        font-family: "Montserrat Bold";
        color: rgb(175, 150, 97);
        letter-spacing: 3.27px;
        font-size: 16.36px;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 15.194px;
        padding-bottom: 5px;
        text-align: left;

        display: flex;
        flex-direction: column;
    }


    .footer-contacts-text {
        font-family: CrimsonText;
        text-align: left;
        color: rgb(210, 210, 210);
        word-break: break-all;
        margin: 0 29.22px;
        font-size: 17.53px;
    }


    .footer-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .grid-link-container {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 18px;
        margin: 0 29.22px;
    }

    .skill-link {
        justify-self: left;
        font-family: CrimsonText;
        color: rgb(210, 210, 210);
        text-decoration: none;
    }

    .skill-link:hover {
        color: rgb(175, 150, 97);
    }


    /*Стили для FOOTER - ОКОНЧАНИЕ*/

}

